.header {
  &__logoImg {
    width: 10rem;
  }
  &__navigation {
    display: flex;
  }
}

.list {
  list-style: none;
  display: flex;
  align-items: center;

  &__item {
    margin: 0 3rem;
  }

  &__link {
    cursor: pointer;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 300;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: $primary-color;
    transition: all 0.3s;
    &:hover {
      font-weight: bold;
    }
  }
}
