.btn__orange {
  display: flex;
  align-items: center;
  background-color: $secondary-color-light;
  color: $color-white;
  font-size: 1.5rem;
  font-weight: bold;
  border-width: 0;
  outline: none;
  position: relative;
  border-radius: 4px;
  margin-right: 2rem;
  cursor: pointer;
  div {
    padding: 0.5rem 4rem;
  }
  &:hover {
    background-color: $secondary-color-dark;
  }
  &:hover > .arrow_img {
    background-color: $secondary-color-dark-2;
  }
}

.arrow_img {
  padding: 0.5rem !important;
  background: #ff7200;
  border-radius: 0 4px 4px 0;
  img {
    right: 0;

    height: 100%;
  }
}
.btn {
  font-size: 1.5rem;
  font-weight: bold;
  border-width: 0;
  outline: none;
  position: relative;
  border-radius: 4px;
  padding: 0.5rem 4rem;
  cursor: pointer;
  &--secondary {
    background-color: $secondary-color-light;
    color: $color-white;
  }
  &--white {
    background-color: $color-white;
    color: $secondary-color-light;
    border: 1px solid $secondary-color-light;
    &:hover {
      background-color: $secondary-color-light;
      color: $color-white;
    }
  }
}
