.mb-extraSmall {
  margin-bottom: 1rem;
}
.mb-small {
  margin-bottom: 3rem;
}

.text-align--center {
  text-align: center;
}

.btn.text-align--right {
  display: flex;
  margin-left: auto;
}
.text-align--right {
  text-align: right;
}
.text-align--left {
  text-align: left;
}
