.header-section {
  margin: 2rem 0;
}

.intro-section {
  margin: 4rem 0;
  background-size: contain;
  background: url("../img/MaskGroup.svg");
  background-position-x: right;
  background-repeat: no-repeat;
}
